<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Wave Kinetic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6D2F0C771EC6D7EF00E0F192</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D2F0C931EC6D7EF00E0F192</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D2F0C9E1EC6D7EF00E0F192</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
